#sideNav a {
    position: fixed;
    display: flex;
    justify-content: flex-start;
    left: -4.5vw;
    transition: 0.3s;
    padding: .25em; 
    width: 5vw;
    text-decoration: none;
    color: white; /* White text color */
    border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}
  
#sideNav a:hover {
    left: 0; /* On mouse-over, make the elements appear as they should */

}

#sideLinkedin, #sideGitHub, #sideDownload {
    background-color: white;
    height: 7vh;
}

#sideLinkedin {
    bottom: 31vh;
}

#sideGitHub {
    bottom: 21vh;
}

#sideDownload {
  bottom: 11vh;
}

.gitHub2{
    height: 6.5vh;
}

.download{
  height: 7vh;
}
  